:root {
  --font-primary: Roboto;
  --font-secondary: Nunito;

  --orange: #F1661B;
  --red: #FA323D;
  --menu: #FA5848;
  --white: #FAFAFC;
  --white-full: #FFFFFF;
  --dark: #222222;

  --font-menu: 700 1.2rem/1.5rem var(--font-primary);
  --font-title: 700 2rem/2.3rem var(--font-primary);
  --font-text: 1rem/1.4rem var(--font-secondary);
}