* {
  box-sizing: border-box;
}

h1, h2, h3, img, ul, li, a, button, p, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: unset;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}